/* リセット */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML・body要素の基本設定 */
html {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    background-color: #ffffff;
    color: #000000;
}

/* フォーム要素の初期化 */
input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
}

input {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* リンクの初期化 */
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* 画像の初期化 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* リストの初期化 */
ul,
ol {
    list-style: none;
}

/* テーブルの初期化 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}